<div class="container mt-4">
  <h1>Auditing Activities</h1>
  <div class="row">
    <% @training_activities.each do |activity| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= activity.name %></h5>
            <p class="card-text"><%= I18n.t("training_activity.status.#{activity.status}") %></p>
            <%= link_to "Show", audit_activity_path(activity), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
