<div id="flash-messages">
  <% flash.each do |type, messages| %>
    <% Array(messages).each do |message| %>
      <div class="flash flash-<%= type %>">
        <%= message %>
      </div>
      <% end %>
    <% end %>
</div>