@import "mdb5-free-standard/css/mdb.min.css";
@import "datatables/datatables.min.css";
@import "font-awesome";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
    --mdb-link-color-rgb: 89, 89, 89;
    --mdb-link-hover-color-rgb: 80, 0, 0;
    --mdb-primary-text-emphasis: #500000;
    --mdb-primary-bg-subtle: #f58b8b;
    --mdb-btn-bg: #500000;
}

.btn-primary {
    --mdb-btn-bg: #500000;
    --mdb-btn-hover-bg: #844c4c;
    --mdb-btn-focus-bg: #844c4c;
    --mdb-btn-active-bg: #844c4c;
}
  
.main-content {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; 
}

.table-responsive {
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.img-responsive {
    width: 100%;
    height: auto;
    border-radius: 1rem 0 0 1rem;
}

#flash-messages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
  }
  
.flash {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.flash-notice {
    background-color: #28a745;
}

.flash-alert {
    background-color: #dc3545;
}

.dt-search {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
}
  