<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <title>Training Activity Revision Needed</title>
</head>
<body>
  <h1>Revision Required</h1>
  <p>Hello, <%= @training_activity.user.first_name %>!</p>
  <p>Your training activity titled "<%= @training_activity.name %>" requires revision. Please review the comments and update as necessary.</p>
  <p>Thank you,</p>
</body>
</html>
